<p id="notice"><%= notice %></p>

<h1>Api V1 Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_accounts.each do |api_v1_account| %>
      <tr>
        <td><%= api_v1_account.status %></td>
        <td><%= api_v1_account.content %></td>
        <td><%= link_to 'Show', api_v1_account %></td>
        <td><%= link_to 'Edit', edit_api_v1_account_path(api_v1_account) %></td>
        <td><%= link_to 'Destroy', api_v1_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api V1 Account', new_api_v1_account_path %>
